In [2]:
import sys
import os
import py_entitymatching as em
print('magellan version:' + em.__version__)
import re
import csv
import pandas as pd

from cleaner import Cleaner
from constants import csv_headers

magellan version:0.1.0

In [4]:
working_dir = os.path.dirname(os.getcwd())
path_to_csv_dir = working_dir + os.sep + 'csv_files'+ os.sep

# STEP 1 - PRE-PROCESSING DATA

In this stage, we need to preprocess data before applying Megellan. This is because our datasets (especially the AOM dataset) are quite dirty, and therefore adversely affecting Megellan's blocking and matching functions. For example, states can take any value of "CA", "California", or "CA - California".

In this step, we will clean the following variables:
* Country name (e.g. Whed data has 2 Belgiums: (1) Belgium - French Community and (2) Belgium - Flemish Community)
* State name
* City name
* Affiliation name
* Email server domain (we will only capture the university information from the email server domain - if there is any)

### 1.A. Clean AOM data

In [3]:
aom_cleaner = Cleaner(path_to_csv_dir + '_aom.csv', csv_headers.AOM_INDEX, csv_headers.AOM)

aom_cleaner.clean_affiliation('a_name')
aom_cleaner.clean_email_server('a_email_server')
aom_cleaner.clean_city('a_city')
aom_cleaner.clean_country('a_country')
aom_cleaner.clean_states('a_prov', 'a_country')

aom_cleaner.to_csv(path_to_csv_dir + '_aom_cleaned.csv')
aom_cleaner.data.head(n=3)

,a_name,a_city,a_prov,a_country,a_email_server
person_id,,,,,
1,academy management,briarcliff manor,new york,united states,aom
4,northeastern university,boston,massachusetts,united states,gmail
5,skidmore college,saratoga springs,new york,united states,skidmore

### 1.B. Clean WHED data

In [4]:
whed_cleaner = Cleaner(path_to_csv_dir + '_whed.csv', csv_headers.WHED_INDEX, csv_headers.WHED, encoding = 'ISO-8859-1')

whed_cleaner.clean_affiliation('a_name')
whed_cleaner.clean_city('a_city')
whed_cleaner.clean_country('a_country')

whed_cleaner.to_csv(path_to_csv_dir + '_whed_cleaned.csv')
whed_cleaner.data.head(n=3)

,a_name,a_country,a_city,a_prov,a_web
a_id,,,,,
2,pampanga state agricultural university,philippines,magalang,Pampanga,http://www.pac.edu.ph
4,les roches international school hotel management,switzerland,bluche crans montana,Bluche-Crans-Montana,http://www.lesroches.edu
6,dharma gate budapest buddhist university,hungary,budapest,NaN,http://www.tkbf.eu

# STEP 2 - MAGELLAN - BLOCKING

In [23]:

AOM = em.read_csv_metadata(path_to_csv_dir + '_aom_cleaned.csv', key = csv_headers.AOM_INDEX)
print(em.get_key(AOM))

WHED = em.read_csv_metadata(path_to_csv_dir + '_whed_cleaned.csv', key = csv_headers.WHED_INDEX)
print(em.get_key(WHED))

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

person_id
a_id

In [25]:
# building inverted index based on B
sample_WHED, sample_AOM = em.down_sample(WHED, AOM, size=3000, y_param=10)
print(len(sample_WHED))
print(len(sample_AOM))
em.show_properties(sample_WHED)
em.show_properties(sample_AOM)

0%                          100%
[##############################] | ETA: 00:00:18 | ETA: 00:00:17 | ETA: 00:00:16 | ETA: 00:00:15 | ETA: 00:00:15 | ETA: 00:00:14 | ETA: 00:00:13 | ETA: 00:00:13 | ETA: 00:00:12 | ETA: 00:00:12 | ETA: 00:00:11 | ETA: 00:00:10 | ETA: 00:00:10 | ETA: 00:00:09 | ETA: 00:00:09 | ETA: 00:00:08 | ETA: 00:00:07 | ETA: 00:00:07 | ETA: 00:00:06 | ETA: 00:00:05 | ETA: 00:00:05 | ETA: 00:00:04 | ETA: 00:00:04 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:02 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00

11201
3000
id: 4471365928
key: a_id
id: 4471368896
key: person_id

Total time elapsed: 00:00:18

In [26]:
sample_WHED.head(n=5)

,a_id,a_name,a_country,a_city,a_prov,a_web
1,4,les roches international school hotel management,switzerland,bluche crans montana,Bluche-Crans-Montana,http://www.lesroches.edu
2,6,dharma gate budapest buddhist university,hungary,budapest,NaN,http://www.tkbf.eu
5,9,aalborg university,denmark,aalborg,NaN,http://www.aau.dk
6,10,aalto university,finland,espoo,NaN,http://www.aalto.fi/fi/
7,15,aarhus university,denmark,aarhus,C,http://www.au.dk/en

In [27]:
sample_AOM.head(n=5)

,person_id,a_name,a_city,a_prov,a_country,a_email_server
3314,22108,booz company / strategy+business,new york,new york,united states,booz
453,1969,agency for healthcare research and quality,rockville,maryland,united states,gov
8459,57727,xi an jiaotong university,xi an,shaanx,china,xjtu
8289,57408,university iowa,iowa city,iowa,united states,uiowa
5159,39025,cranfield university,bedfordshire,NaN,united kingdom,cranfield

In [ ]:
def match_country_prov(ltuple, rtuple):
#   return True  - if the intention is to drop the pair
#          False - if the intention is to keep the tuple pair
    l_country = ltuple['a_country']
    r_country = rtuple['a_country']
    l_prov = ltuple['a_prov']
    r_prov = rtuple['a_prov']
    
    if l_country != r_country:
        return True
    elif l_country == "united states":
        if l_prov != r_prov:
            return True
        else:
            return False
    else:
        return False

def match_overlap(ltuple, rtuple):
    l_tokens = em.tok_wspace(ltuple['a_name'])
    r_tokens = em.tok_wspace(rtuple['a_name'])
    
    if len(l_tokens) > 1 and len(r_tokens) > 1:
        if "university" in l_tokens:
            l_tokens.remove("university") 
        if "university" in r_tokens:
            r_tokens.remove("university") 
        return em.overlap_coeff(l_tokens, r_tokens) == 0
    else:
        return False
    
def match_combined(ltuple, rtuple):
    if match_country_prov(ltuple, rtuple):
        return True
    else:
        return match_overlap(ltuple, rtuple)
    
def blocking(A, B):
    bb = em.BlackBoxBlocker()
    bb.set_black_box_function(match_combined)
    C = bb.block_tables(A, B, l_output_attrs=['a_name','a_country','a_city','a_prov','a_web'], r_output_attrs=['a_name','a_country','a_city','a_prov','a_email_server'] )
    return C

C = blocking(sample_WHED, sample_AOM)

0%                          100%
[#########                     ] | ETA: 00:23:49 | ETA: 00:22:56 | ETA: 00:22:12 | ETA: 00:21:21 | ETA: 00:20:51 | ETA: 00:20:05 | ETA: 00:19:13 | ETA: 00:18:27 | ETA: 00:17:39

In [11]:
C.head(n = 50000)

,_id,ltable_person_id,rtable_a_id,ltable_a_name,ltable_a_country,ltable_a_city,ltable_a_prov,ltable_a_email_server,rtable_a_name,rtable_a_country,rtable_a_city,rtable_a_prov,rtable_a_web
0,0,46555,13931,university de barcelona,spain,barcelona,NaN,gmail,royal school dramatic art madrid,spain,madrid,NaN,http://www.resad.es
1,1,46555,17165,university de barcelona,spain,barcelona,NaN,gmail,nebrija university,spain,hoyos de manzanares,Madrid,http://www.nebrija.com
2,2,46555,19344,university de barcelona,spain,barcelona,NaN,gmail,jaume i university,spain,castellon de la plana,Castellon,http://www.uji.es
3,3,46555,4784,university de barcelona,spain,barcelona,NaN,gmail,school dramatic art valencia,spain,valencia,NaN,http://www.esadvalencia.com
4,4,46555,17309,university de barcelona,spain,barcelona,NaN,gmail,saint vincent martyr catholic university valencia,spain,valencia,NaN,http://www.ucv.es
5,5,46555,3204,university de barcelona,spain,barcelona,NaN,gmail,rafael orozco music conservatoire cordoba,spain,cordoba,NaN,http://www.csmcordoba.com
6,6,46555,17285,university de barcelona,spain,barcelona,NaN,gmail,catholic university avila,spain,avila,NaN,http://www.ucavila.es
7,7,46555,17362,university de barcelona,spain,barcelona,NaN,gmail,complutense university madrid,spain,madrid,NaN,http://www.ucm.es
8,8,46555,3215,university de barcelona,spain,barcelona,NaN,gmail,oscar espla music conservatoire alicante,spain,alicante,NaN,http://www.csmalicante.es
9,9,46555,17564,university de barcelona,spain,barcelona,NaN,gmail,university oviedo,spain,oviedo,Asturias,http://www.uniovi.es
10,10,46555,17386,university de barcelona,spain,barcelona,NaN,gmail,university alcala,spain,alcala de henares,Madrid,http://www.uah.es
11,11,46555,3212,university de barcelona,spain,barcelona,NaN,gmail,joaquin rodrigo music conservatoire valencia,spain,valencia,NaN,http://www.csmvalencia.es/
12,12,46555,17460,university de barcelona,spain,barcelona,NaN,gmail,university granada,spain,granada,NaN,http://www.ugr.es
13,13,46555,4591,university de barcelona,spain,barcelona,NaN,gmail,music school catalonia,spain,barcelona,NaN,http://www.esmuc.cat
14,14,46555,17858,university de barcelona,spain,barcelona,NaN,gmail,international university andalusia,spain,sevilla,NaN,http://www.unia.es
15,15,46555,19324,university de barcelona,spain,barcelona,NaN,gmail,university lleida,spain,lleida,NaN,http://www.udl.es
16,16,46555,3206,university de barcelona,spain,barcelona,NaN,gmail,music conservatoire malaga,spain,malaga,NaN,http://www.conservatoriosuperiormalaga.com/
17,17,46555,4564,university de barcelona,spain,barcelona,NaN,gmail,school art conservation galicia,spain,pontevedra,NaN,http://www.gradoconservacionbbcc.es
18,18,46555,19359,university de barcelona,spain,barcelona,NaN,gmail,universitat politecnica de catalunya barcelona tech,spain,barcelona,NaN,http://www.barcelonatech.upc.edu
19,19,46555,17387,university de barcelona,spain,barcelona,NaN,gmail,university alicante,spain,san vicent del raspeig,Alicante,http://www.ua.es
20,20,46555,3202,university de barcelona,spain,barcelona,NaN,gmail,music conservatoire aragon,spain,zaragoza,NaN,http://www.csma.es
21,21,46555,3210,university de barcelona,spain,barcelona,NaN,gmail,music conservatoire vigo,spain,vigo,NaN,http://www.conservatoriosuperiorvigo.com
22,22,46555,4783,university de barcelona,spain,barcelona,NaN,gmail,school dramatic art seville,spain,sevilla,NaN,http://www.esadsevilla.com
23,23,46555,17548,university de barcelona,spain,barcelona,NaN,gmail,university navarra,spain,pamplona,Navarra,http://www.unav.es
24,24,46555,17758,university de barcelona,spain,barcelona,NaN,gmail,european university madrid,spain,villaviciosa de odon,Madrid,http://www.uem.es
25,25,46555,17622,university de barcelona,spain,barcelona,NaN,gmail,university valladolid,spain,valladolid,NaN,http://www.uva.es
26,26,46555,17133,university de barcelona,spain,barcelona,NaN,gmail,alfonso x el sabio university,spain,villanueva de la canada,Madrid,http://www.uax.es
27,27,46555,17412,university de barcelona,spain,barcelona,NaN,gmail,university cantabria,spain,santander,Cantabria,http://www.unican.es
28,28,46555,17265,university de barcelona,spain,barcelona,NaN,gmail,cardinal herrera ceu university,spain,moncada,Valencia,http://www.uch.ceu.es
29,29,46559,16988,makerere university business school,uganda,kampala,NaN,mubs,uganda pentecostal university,uganda,fort portal,NaN,http://upu.ac.ug
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43749,43749,57204,4145,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,nancy national art school,france,nancy,Cedex,http://www.ensa-nancy.fr
43750,43750,57204,19641,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,rennes 1 university,france,rennes,Cedex,http://www.univ-rennes1.fr
43751,43751,57204,7898,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,catholic university paris,france,paris,Cedex 06,http://www.icp.fr
43752,43752,57204,4095,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,national school civil aviation,france,toulouse,NaN,http://www.enac.fr
43753,43753,57204,19642,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,university rouen,france,mont saint aignan,Cedex,http://www.univ-rouen.fr
43754,43754,57204,4524,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,esc rennes business school,france,rennes,NaN,http://www.esc-rennes.fr
43755,43755,57204,4053,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,european business school,france,paris,NaN,http://www.ebs-paris.com
43756,43756,57204,23086,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,aix marseilles university construction public works institute,france,marseille,cedex 13,http://www.isba.fr
43757,43757,57204,4823,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,esiee paris,france,noisy le grand,Cedex,http://www.esiee-paris.fr
43758,43758,57204,4010,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,school agricultural engineering,france,mont saint aignan,Cedex,http://www.esitpa.org/
43759,43759,57204,7905,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,institute political studies grenoble sciences po grenoble,france,saint martin d heres,NaN,http://www.sciencespo-grenoble.fr/
43760,43760,57204,4507,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,university technology troyes epf school engineering,france,sceaux,NaN,http://www.epf.fr
43761,43761,57204,4132,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,normandy national school architecture,france,darnetal,NaN,http://www.rouen.archi.fr
43762,43762,57204,23099,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,university franche comte national higher school mechanics microtechnology,france,besancon,cedex,http://www.ens2m.fr/
43763,43763,57204,4380,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,edhec business school,france,roubaix,Cedex 1,http://www.edhec.com
43764,43764,57204,4260,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,lyon 1 university lyon school chemistry physics electronics,france,villeurbanne,Cedex,http://www.cpe.fr
43765,43765,57204,19638,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,university picardie jules verne,france,amiens,NaN,http://www.u-picardie.fr
43766,43766,57204,6808,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,esc pau,france,pau,NaN,http://www.esc-pau.fr
43767,43767,57204,19743,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,lyon 3 university,france,lyon,NaN,http://www.univ-lyon3.fr
43768,43768,57204,8000,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,icd international business school,france,paris,NaN,http://www.icd-ecoles.com
43769,43769,57204,4339,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,estaca levallois perret,france,levallois perret,Cedex,http://www.estaca.fr
43770,43770,57204,19575,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,university corsica pascal paoli,france,corte,Cedex,http://www.univ-corse.fr
43771,43771,57204,4171,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,national school library information sciences,france,villeurbanne,Cedex,http://www.enssib.fr
43772,43772,57204,4178,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,ensa dijon art design,france,dijon,Cedex,http://www.ensa-dijon.fr
43773,43773,57204,4102,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,school statistics economic administration paristech,france,malakoff,Cedex,http://www.ensae.fr
43774,43774,57204,4163,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,national school applied arts,france,paris,NaN,http://www.ensaama.net
43775,43775,57204,19799,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,paris west nanterre la defense university,france,nanterre,Cedex,http://www.u-paris10.fr
43776,43776,57204,6786,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,grenoble school management,france,grenoble,Cedex 01,http://www.grenoble-em.com
43777,43777,57204,4240,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,le havre rouen school art design,france,le havre,NaN,http://www.esadhar.fr
43778,43778,57204,4050,centre d economie de la sorbonne,france,paris,paris cedex 13,univ-paris1,french army engineering school,france,angers,NaN,http://www.esag.terre.defense.gouv.fr/index_esag.html

In [13]:
C.size

3426683