In [1]:
import sys
import os
import py_entitymatching as em
print('magellan version:' + em.__version__)
import re
import csv
import pandas as pd
from constants import countries, states, cities, domains
from cleaner import Cleaner
from constants import csv_headers
import custom_matcher

magellan version:0.1.0

In [2]:
working_dir = os.path.dirname(os.getcwd())
path_to_csv_dir = working_dir + os.sep + 'csv_files'+ os.sep

AOM = em.read_csv_metadata(path_to_csv_dir + '_aom.csv', key = csv_headers.AOM_INDEX)
WHED = em.read_csv_metadata(path_to_csv_dir + '_whed.csv', key = csv_headers.WHED_INDEX)
labeled_data = em.read_csv_metadata(path_to_csv_dir + 'golden_data_labeled_nomissing.csv', key='_id',
                                                                 ltable=WHED, rtable=AOM, 
                                                                 fk_ltable='ltable_' + csv_headers.WHED_INDEX, 
                                                                 fk_rtable='rtable_' + csv_headers.AOM_INDEX,encoding = "ISO-8859-1")

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [3]:
IJ = em.split_train_test(labeled_data, train_proportion=0.5, random_state=0)
I = IJ['train']
J = IJ['test']

In [4]:
# Create a set of ML-matchers
dt = em.DTMatcher(name='DecisionTree', random_state=0)
svm = em.SVMMatcher(name='SVM', random_state=0)
rf = em.RFMatcher(name='RF', random_state=0)
lg = em.LogRegMatcher(name='LogReg', random_state=0)
ln = em.LinRegMatcher(name='LinReg')

In [5]:
# Generate a set of features
F = em.get_features_for_matching(WHED, AOM)
      
em.add_blackbox_feature(F, 'is_same_server', custom_matcher.is_same_server)
em.add_blackbox_feature(F, 'is_same_single_server', custom_matcher.is_same_single_server)

F.feature_name

0               a_name_a_name_jac_qgm_3_qgm_3
1           a_name_a_name_cos_dlm_dc0_dlm_dc0
2           a_name_a_name_jac_dlm_dc0_dlm_dc0
3                           a_name_a_name_mel
4                      a_name_a_name_lev_dist
5                       a_name_a_name_lev_sim
6                           a_name_a_name_nmw
7                            a_name_a_name_sw
8         a_country_a_country_jac_qgm_3_qgm_3
9     a_country_a_country_cos_dlm_dc0_dlm_dc0
10    a_country_a_country_jac_dlm_dc0_dlm_dc0
11                    a_country_a_country_mel
12               a_country_a_country_lev_dist
13                a_country_a_country_lev_sim
14                    a_country_a_country_nmw
15                     a_country_a_country_sw
16              a_city_a_city_jac_qgm_3_qgm_3
17          a_city_a_city_cos_dlm_dc0_dlm_dc0
18          a_city_a_city_jac_dlm_dc0_dlm_dc0
19                          a_city_a_city_mel
20                     a_city_a_city_lev_dist
21                      a_city_a_city_lev_sim
22                          a_city_a_city_nmw
23                           a_city_a_city_sw
24              a_prov_a_prov_jac_qgm_3_qgm_3
25          a_prov_a_prov_cos_dlm_dc0_dlm_dc0
26          a_prov_a_prov_jac_dlm_dc0_dlm_dc0
27                          a_prov_a_prov_mel
28                     a_prov_a_prov_lev_dist
29                      a_prov_a_prov_lev_sim
30                          a_prov_a_prov_nmw
31                           a_prov_a_prov_sw
32                             is_same_server
33                      is_same_single_server
Name: feature_name, dtype: object

In [6]:
# Convert the I into a set of feature vectors using F
H = em.extract_feature_vecs(I, 
                            feature_table=F, 
                            attrs_after='gold_label',
                            show_progress=False)  
# Display first few rows
# H[['_id','is_same_server','is_same_single_server']]

In [7]:
# Check if the feature vectors contain missing values
# A return value of True means that there are missing values
any(pd.notnull(H))

True

In [8]:
# Impute feature vectors with the mean of the column values.
H = em.impute_table(H, 
                exclude_attrs=['_id', 'ltable_' + csv_headers.WHED_INDEX, 'rtable_' + csv_headers.AOM_INDEX, 'gold_label'],
                strategy='mean')

In [9]:
# Select the best ML matcher using CV
result = em.select_matcher([dt, rf, svm, ln, lg], table=H, 
        exclude_attrs=['_id', 'ltable_' + csv_headers.WHED_INDEX, 'rtable_' + csv_headers.AOM_INDEX, 'gold_label'],
        k=5,
        target_attr='gold_label', metric='precision', random_state=0)
result['cv_stats']

/usr/local/lib/python3.6/site-packages/scipy/linalg/basic.py:1018: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x10c470470>,5,0.882353,0.769231,0.941176,0.933333,0.85,0.875219
1,RF,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x10c470390>,5,1.000000,0.909091,0.947368,0.882353,1.00,0.947762
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x10c4704a8>,5,0.846154,1.000000,0.933333,1.000000,1.00,0.955897
3,LinReg,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x10e3f1e48>,5,1.000000,0.727273,0.900000,1.000000,1.00,0.925455
4,LogReg,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x10e091e80>,5,0.933333,0.769231,0.894737,0.933333,0.90,0.886127

In [120]:
print(result)

OrderedDict([('selected_matcher', <py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x113efc2b0>), ('cv_stats',            Name  \
0  DecisionTree
1            RF
2           SVM
3        LinReg
4        LogReg

                                                                         Matcher  \
0          <py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x113efc278>
1          <py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x113efc080>
2        <py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x113efc2b0>
3  <py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x113efc470>
4  <py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x113efc748>

   Num folds    Fold 1    Fold 2    Fold 3    Fold 4  Fold 5  Mean score
0          5  0.882353  0.769231  0.941176  0.933333    0.85    0.875219
1          5  1.000000  0.909091  0.947368  0.882353    1.00    0.947762
2          5  0.846154  1.000000  0.933333  1.000000    1.00    0.955897
3          5  1.000000  0.727273  0.900000  1.000000    1.00    0.925455
4          5  0.933333  0.769231  0.894737  0.933333    0.90    0.886127  )])

In [121]:
# Convert the J into a set of feature vectors using F
K = em.extract_feature_vecs(J, 
                            feature_table=F, 
                            attrs_after='gold_label',
                            show_progress=False)  
K = em.impute_table(K, 
                exclude_attrs=['_id', 'ltable_' + csv_headers.WHED_INDEX, 'rtable_' + csv_headers.AOM_INDEX, 'gold_label'],
                strategy='mean')

In [122]:
rf.fit(table=H, exclude_attrs=['_id', 'ltable_' + csv_headers.WHED_INDEX, 'rtable_' + csv_headers.AOM_INDEX, 'gold_label'], target_attr='gold_label')
predictions = rf.predict(table=K, exclude_attrs=['_id', 'ltable_' + csv_headers.WHED_INDEX, 'rtable_' + csv_headers.AOM_INDEX, 'gold_label'],
                append=True, target_attr='predicted', inplace=False)

In [123]:
eval_summary = em.eval_matches(predictions, 'gold_label', 'predicted')
em.print_eval_summary(eval_summary)

Precision : 98.63% (72/73)
Recall : 91.14% (72/79)
F1 : 94.74%
False positives : 1 (out of 73 positive predictions)
False negatives : 7 (out of 166 negative predictions)

In [125]:
false_pos_df = em.get_false_positives_as_df(K, eval_summary)
# false_pos_df.head(n = false_pos_df.size)
# false positive examples
table_id_pos = false_pos_df['_id']
J.loc[J['_id'].isin(table_id_pos)]

,_id,ltable_a_id,rtable_person_id,ltable_a_name,ltable_a_country,ltable_a_city,ltable_a_prov,ltable_a_web,rtable_a_name,rtable_a_country,rtable_a_city,rtable_a_prov,rtable_a_email_server,gold_label
331,6820,19863,17955,university amsterdam,netherlands,amsterdam,NaN,http://www.uva.nl,vu university amsterdam,netherlands,amsterdam,NaN,vu.nl,0

In [86]:
false_neg_df = em.get_false_negatives_as_df(K, eval_summary)
# false_pos_df.head(n = false_pos_df.size)
# false positive examples
table_id_neg = false_neg_df['_id']
J.loc[J['_id'].isin(table_id_neg)]

,_id,ltable_a_id,rtable_person_id,ltable_a_name,ltable_a_country,ltable_a_city,ltable_a_prov,ltable_a_web,rtable_a_name,rtable_a_country,rtable_a_city,rtable_a_prov,rtable_a_email_server,gold_label
416,8782,20621,31808,university warwick,united kingdom,coventry,NaN,http://www.warwick.ac.uk,warwick business school,united kingdom,coventry,westmidlands,wbs.ac.uk,1
411,8728,20607,50974,university utah,united states,salt lake city,utah,http://www.utah.edu,eccles school university utah,united states,salt lake city,utah,utah.edu,1
315,6525,18757,5307,luigi bocconi university,italy,milano,NaN,http://www.unibocconi.it,bocconi university,italy,milan,italy,sdabocconi.it,1
316,6531,18757,16712,luigi bocconi university,italy,milano,NaN,http://www.unibocconi.it,bocconi university,italy,milan,NaN,unibocconi.it,1
401,8497,10172,56019,leuven university college,belgium,heverlee,NaN,http://www.khleuven.be,ku leuven,belgium,leuven,NaN,student.kuleuven.be,1
420,8860,20629,39304,university western ontario,canada,london,ontario,http://www.uwo.ca,western university,canada,london,on,ivey.uwo.ca,1
463,9529,11313,46559,makerere university,uganda,kampala,NaN,http://www.mak.ac.ug/,makerere university business school,uganda,kampala,NaN,mubs.ac.ug,1

In [107]:
str1 = "http://abc.edu"
str1.replace('http://','').split('.')

['abc', 'edu']