In [2]:
import sys
import os
import py_entitymatching as em
print('magellan version:' + em.__version__)
import re
import csv
import pandas as pd

from constants import csv_headers

magellan version:0.1.0

In [3]:
working_dir = os.path.dirname(os.getcwd())
path_to_csv_dir = working_dir + os.sep + 'csv_files'+ os.sep

# STEP 2 - MAGELLAN

### CHOOSE RANDOM FOREST ###

Below are the subsequent steps:
* Downsizing data - using whole AOM dataset with y_parameter of 3
* Blocking using the previous rule on the downsized dataset
* Applying the classifier on the blocked dataset

In [3]:
AOM = em.read_csv_metadata(path_to_csv_dir + '_aom_cleaned.csv', key = csv_headers.AOM_INDEX)
WHED = em.read_csv_metadata(path_to_csv_dir + '_whed_cleaned.csv', key = csv_headers.WHED_INDEX)

AOM.shape
# building inverted index based on B
final_WHED, final_AOM = em.down_sample(WHED, AOM, size=9532, y_param=3)

WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.
WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.
0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:01:18

In [5]:
em.save_table(final_AOM, path_to_csv_dir + 'AOM_sample1.pkl')
em.save_table(final_WHED, path_to_csv_dir + 'WHED_sample1.pkl')

True

In [ ]:
final_C = blocker.blocking(final_WHED, final_AOM, csv_headers.WHED, csv_headers.AOM)
final_C.head(n=5)

In [101]:
em.save_table(final_C, path_to_csv_dir + 'final_C.pkl')

File already exists at /Users/thomasngo/_Personal/_Research/Datasets/AOM/_NotToShare/_src/stage3/csv_files/final_C.pkl; Overwriting it
Metadata file already exists at /Users/thomasngo/_Personal/_Research/Datasets/AOM/_NotToShare/_src/stage3/csv_files/final_C.pklmetadata. Overwriting it

True

### Load model and classify

In [16]:
final_C = em.load_table(path_to_csv_dir + 'final_C.pkl', metadata_ext='.pklmetadata')
em.set_ltable(final_C, WHED)
em.set_rtable(final_C, AOM)
em.set_fk_ltable(final_C, 'ltable_' + csv_headers.WHED_INDEX)
em.set_fk_rtable(final_C, 'rtable_' + csv_headers.AOM_INDEX)
print(final_C.shape)
final_C.head()

(27887, 13)

,_id,ltable_a_id,rtable_person_id,ltable_a_name,ltable_a_city,ltable_a_prov,ltable_a_country,ltable_a_web,rtable_a_name,rtable_a_city,rtable_a_prov,rtable_a_country,rtable_a_email_server
0,0,9,54111,aalborg university,aalborg,NaN,denmark,http://www.aau.dk,aalborg university,branbrand,NaN,denmark,u-k.dk
1,1,9,54203,aalborg university,aalborg,NaN,denmark,http://www.aau.dk,aalborg university,aalborg,NaN,denmark,hum.aau.dk
2,2,10,29724,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,aalto.fi
3,3,10,14261,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,stratnet.org
4,4,10,43727,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,helsinki,finland,aalto.fi

In [17]:
F = em.get_features_for_matching(WHED, AOM)
em.add_blackbox_feature(F, 'is_same_server', custom_matcher.is_same_server)
em.add_blackbox_feature(F, 'is_same_single_server', custom_matcher.is_same_single_server)


final_K = em.extract_feature_vecs(final_C, 
                                feature_table=F, 
                                show_progress=False)  
final_K = em.impute_table(final_K, 
                exclude_attrs=['_id', 'ltable_' + csv_headers.WHED_INDEX, 'rtable_' + csv_headers.AOM_INDEX],
                strategy='mean')

In [104]:
em.save_table(final_K, path_to_csv_dir + 'final_K.pkl')
final_K.head()

File already exists at /Users/thomasngo/_Personal/_Research/Datasets/AOM/_NotToShare/_src/stage3/csv_files/final_K.pkl; Overwriting it
Metadata file already exists at /Users/thomasngo/_Personal/_Research/Datasets/AOM/_NotToShare/_src/stage3/csv_files/final_K.pklmetadata. Overwriting it

,_id,ltable_a_id,rtable_person_id,a_name_a_name_jac_qgm_3_qgm_3,a_name_a_name_cos_dlm_dc0_dlm_dc0,a_name_a_name_jac_dlm_dc0_dlm_dc0,a_name_a_name_mel,a_name_a_name_lev_dist,a_name_a_name_lev_sim,a_name_a_name_nmw,...,a_prov_a_prov_jac_qgm_3_qgm_3,a_prov_a_prov_cos_dlm_dc0_dlm_dc0,a_prov_a_prov_jac_dlm_dc0_dlm_dc0,a_prov_a_prov_mel,a_prov_a_prov_lev_dist,a_prov_a_prov_lev_sim,a_prov_a_prov_nmw,a_prov_a_prov_sw,is_same_server,is_same_single_server
0,0,9,54111,1.0,1.0,1.0,1.0,0.0,1.0,18.0,...,0.893409,0.890104,0.887168,0.956123,1.037413,0.909672,7.301507,8.041462,0.0,0.0
1,1,9,54203,1.0,1.0,1.0,1.0,0.0,1.0,18.0,...,0.893409,0.890104,0.887168,0.956123,1.037413,0.909672,7.301507,8.041462,0.0,1.0
2,2,10,29724,1.0,1.0,1.0,1.0,0.0,1.0,16.0,...,0.893409,0.890104,0.887168,0.956123,1.037413,0.909672,7.301507,8.041462,1.0,1.0
3,3,10,14261,1.0,1.0,1.0,1.0,0.0,1.0,16.0,...,0.893409,0.890104,0.887168,0.956123,1.037413,0.909672,7.301507,8.041462,0.0,0.0
4,4,10,43727,1.0,1.0,1.0,1.0,0.0,1.0,16.0,...,0.893409,0.890104,0.887168,0.956123,1.037413,0.909672,7.301507,8.041462,1.0,1.0

In [18]:
# We have 37 features
final_K.shape

(27887, 37)

In [19]:
rf = em.load_object('./rf_classifier.pkl')
predictions = rf.predict(table=final_K, exclude_attrs=['_id', 'ltable_' + csv_headers.WHED_INDEX, 'rtable_' + csv_headers.AOM_INDEX],
                append=True, target_attr='predicted', inplace=False)

In [20]:
matched = predictions[predictions['predicted'] == 1]
matched.shape
matched_id = matched['_id']
df = final_C.loc[final_C['_id'].isin(matched_id)]
df.to_csv('matched_tuples.csv', index=False)

## Merge two tables

In [35]:
df = em.read_csv_metadata(path_to_csv_dir + 'matched_tuples.csv', key = '_id')
# aom = em.read_csv_metadata(path_to_csv_dir + '_aom.csv', key = 'person_id')
# whed = em.read_csv_metadata(path_to_csv_dir + '_whed.csv', key = 'a_id')
df.head()

WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.

,_id,ltable_a_id,rtable_person_id,ltable_a_name,ltable_a_city,ltable_a_prov,ltable_a_country,ltable_a_web,rtable_a_name,rtable_a_city,rtable_a_prov,rtable_a_country,rtable_a_email_server
0,0,9,54111,aalborg university,aalborg,NaN,denmark,http://www.aau.dk,aalborg university,branbrand,NaN,denmark,u-k.dk
1,1,9,54203,aalborg university,aalborg,NaN,denmark,http://www.aau.dk,aalborg university,aalborg,NaN,denmark,hum.aau.dk
2,2,10,29724,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,aalto.fi
3,3,10,14261,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,stratnet.org
4,4,10,43727,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,helsinki,finland,aalto.fi

In [36]:
#use rename_col() to rename columns
#use drop_cols() to drop merged colums
# modify df to get the final results
drop_list = ['rtable_a_name','rtable_a_city','rtable_a_prov','rtable_a_country','rtable_a_email_server']
df = em.drop_cols(df, drop_list)

df = em.rename_col(df,'ltable_a_id','a_id')
df = em.rename_col(df,'ltable_a_name','a_name')
df = em.rename_col(df,'ltable_a_city','a_city')
df = em.rename_col(df,'ltable_a_prov','a_prov')
df = em.rename_col(df,'ltable_a_country','a_country')
df = em.rename_col(df,'ltable_a_web','a_web')
df = em.rename_col(df,'rtable_person_id','person_id')

In [37]:
df.head()

,_id,a_id,person_id,a_name,a_city,a_prov,a_country,a_web
0,0,9,54111,aalborg university,aalborg,NaN,denmark,http://www.aau.dk
1,1,9,54203,aalborg university,aalborg,NaN,denmark,http://www.aau.dk
2,2,10,29724,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
3,3,10,14261,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
4,4,10,43727,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/

In [38]:
df_new = df.drop_duplicates(subset=['person_id'], keep = False)
em.set_key(df_new,'person_id')
df_new = em.drop_cols(df_new,'_id')

In [40]:
df_new.shape
df_new.head()
df_new.to_csv('merged_tuples.csv', index=False)