## Merge two tables

In [10]:
import sys
import os
import py_entitymatching as em
working_dir = os.path.dirname(os.getcwd())
path_to_csv_dir = working_dir + os.sep + 'csv_files'+ os.sep

df = em.read_csv_metadata(path_to_csv_dir + 'matched_tuples.csv', key = '_id')
# aom = em.read_csv_metadata(path_to_csv_dir + '_aom.csv', key = 'person_id')
# whed = em.read_csv_metadata(path_to_csv_dir + '_whed.csv', key = 'a_id')
df.head()

WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.

,_id,ltable_a_id,rtable_person_id,ltable_a_name,ltable_a_city,ltable_a_prov,ltable_a_country,ltable_a_web,rtable_a_name,rtable_a_city,rtable_a_prov,rtable_a_country,rtable_a_email_server
0,70,26,6378,abilene christian university,abilene,texas,united states,http://www.acu.edu,abilene christian university,abilene,texas,united states,acu.edu
1,71,26,33444,abilene christian university,abilene,texas,united states,http://www.acu.edu,abilene christian university,abilene,texas,united states,coba.acu.edu
2,84,110,4676,adelphi university,garden city,new york,united states,http://www.adelphi.edu,adelphi university,garden city,new york,united states,adelphi.edu
3,85,110,8429,adelphi university,garden city,new york,united states,http://www.adelphi.edu,adelphi university,forest hills,new york,united states,adelphi.edu
4,86,116,56267,adler school professional psychology,chicago,illinois,united states,http://www.adler.edu,chicago school professional psychology,chicago,illinois,united states,ego.thechicagoschool.edu

In [11]:
#use rename_col() to rename columns
#use drop_cols() to drop merged colums
# modify df to get the final results
drop_list = ['rtable_a_name','rtable_a_city','rtable_a_prov','rtable_a_country','rtable_a_email_server']
df = em.drop_cols(df, drop_list)

df = em.rename_col(df,'ltable_a_id','a_id')
df = em.rename_col(df,'ltable_a_name','a_name')
df = em.rename_col(df,'ltable_a_city','a_city')
df = em.rename_col(df,'ltable_a_prov','a_prov')
df = em.rename_col(df,'ltable_a_country','a_country')
df = em.rename_col(df,'ltable_a_web','a_web')
df = em.rename_col(df,'rtable_person_id','person_id')

In [12]:
df.head()

,_id,a_id,person_id,a_name,a_city,a_prov,a_country,a_web
0,70,26,6378,abilene christian university,abilene,texas,united states,http://www.acu.edu
1,71,26,33444,abilene christian university,abilene,texas,united states,http://www.acu.edu
2,84,110,4676,adelphi university,garden city,new york,united states,http://www.adelphi.edu
3,85,110,8429,adelphi university,garden city,new york,united states,http://www.adelphi.edu
4,86,116,56267,adler school professional psychology,chicago,illinois,united states,http://www.adler.edu

In [13]:
df_new = df.drop_duplicates(subset=['person_id'], keep = False)
em.set_key(df_new,'person_id')
df_new = em.drop_cols(df_new,'_id')

In [15]:
df_new.shape
df_new.head()
df_new.to_csv(path_to_csv_dir + 'merged_tuples.csv', index=False)

In [16]:
df_new.shape

(3230, 7)