In this project stage you will do some data analysis on the integrated and cleaned table, to infer insights. This analysis is something of your own choosing. But it must involve one of the key techniques that we will cover in the class: classification, clustering, correlation discovery, anomaly detection, or OLAP-style exploration. I will discuss more in the class. 

What to submit

Submit the following on your group's website: 
- a CSV file storing Table E, the integrated table which is the output of project stage 4. 
- a pdf file that discusses the following issues: 
    - Statistics on Table E: specifically, what is the schema of Table E, how many tuples are in Table E? Give at least four sample tuples from Table E. 
    - What was the data analysis task that you wanted to do? (Example: we wanted to know if we can use the rest of the attributes to accurately predict the value of the attribute loan_repaid.) For that task, describe in detail the data analysis process that you went through. 
    - Give any accuracy numbers that you have obtained (such as precision and recall for your classification scheme). 
    - What did you learn/conclude from your data analysis? Were there any problems with the analysis process and with the data? 
    - If you have more time, what would you propose you can do next? 


visualize thi pyplot

calculate thi Numpy, Scipy

Scikit


#  Stage 5: Data Analysis #

#### Trang Ho, Thomas Ngo, Qinyuan Sun

## Dataset
In this project stage, we will do analysis on the merged table E of two tables AOM and IPEDS. The CSV file storing table E can be found here (NOTE: Put link here)

NOTE: put some info about the merged table, such as these data from year 2006..2014

Below is the schema of table E:

| Attribute name | Description                                                                   |
| -------------- |:-----------------------------------------------------------------------------:|
| year           | The year the individual attended the conference                               |
| pid            | The individual ID                                                             |
| ipeds_aid      | The individual's affiliation ID                                               |
| ipeds_name     | The individual's affiliation name                                             |                               
| ipeds_alias    | The individual's affiliation alias                                            |
| ipeds_city     | The individual's affiliation city                                             |
| ipeds_prov     | The individual's affiliation province                                         |
| ipeds_web      | The individual's affiliation website                                          |
| GROFFER        | The individual's affiliation graduate offering                                |
| CCSIZSET       | The individual's affiliation Size and Setting by Carnegie Classification 2010 |
| INSTSIZE       | The individual's affiliation institution size category                        |
| CBSATYPE       | The individual's affiliation CBSA Type Metropolitan or Micropolitan           |

NOTE: The possible categorical values of GROFFER, CCSIZSET, INSTSIZE, CBSATYPE can be found here (NOTE: Put link here)

There are total of 35585 tuples in table E. Below are 5 sample tupes from E

In [125]:
import os
import pandas as pd

working_dir = os.path.dirname(os.getcwd())
path_to_csv_dir = working_dir + os.sep + 'data'+ os.sep
data = pd.read_csv(path_to_csv_dir + '_aom_mapped_v2.csv')

data.head(5)

,year,pid,ipeds_aid,ipeds_name,ipeds_alias,ipeds_city,ipeds_prov,ipeds_web,GROFFER,CCSIZSET,INSTSIZE,CBSATYPE
0,2007,296447,100663,university of alabama at birmingham,0,birmingham,alabama,www.uab.edu,1,15,4,1
1,2014,653507,100663,university of alabama at birmingham,0,birmingham,alabama,www.uab.edu,1,15,4,1
2,2008,287610,100663,university of alabama at birmingham,0,birmingham,alabama,www.uab.edu,1,15,4,1
3,2014,18785,100663,university of alabama at birmingham,0,birmingham,alabama,www.uab.edu,1,15,4,1
4,2009,66090,100663,university of alabama at birmingham,0,birmingham,alabama,www.uab.edu,1,15,4,1

## Analysis

In [121]:
import numpy as np
import scipy, sklearn, matplotlib
import matplotlib.pyplot as plt

### Trends in number of attendees by affliations with most attendees from 2006 - 2014

In [124]:
data_by_year = {}
for year in range(2006, 2015):
    data_by_year[year] = data[data['year'] == year]
    
most_attendees_schools_by_year = {}

for year in range(2006, 2015):
    attendees_by_year = data_by_year[year].groupby("ipeds_aid").agg({"pid": pd.Series.nunique})
    most_attendees_schools_by_year[year] = attendees_by_year.sort_values('pid', ascending=False).head(10)

print(most_attendees_schools_by_year)

{2006:            pid
ipeds_aid
166027      62
170976      59
215062      54
174066      53
171100      49
193900      48
163286      48
145637      46
190415      45
139959      42, 2007:            pid
ipeds_aid
166027      91
215062      64
170976      64
145637      61
243744      60
214777      58
163286      57
171100      56
174066      55
190415      54, 2008:            pid
ipeds_aid
166027      76
170976      70
171100      64
163286      58
243744      58
215062      57
174066      56
123961      53
193900      52
145637      51, 2009:            pid
ipeds_aid
170976      79
166027      76
163286      65
145637      58
190415      57
215062      54
174066      53
243744      53
228723      51
171100      48, 2010:            pid
ipeds_aid
166027      92
170976      77
215062      64
174066      63
228723      60
163286      57
145637      55
190415      52
201645      52
243744      50, 2011:            pid
ipeds_aid
166027      81
163286      61
215062      59
170976      56
228723      50
201645      47
174066      46
190415      45
171100      44
214777      44, 2012:            pid
ipeds_aid
166027     104
170976      64
163286      59
190415      56
215062      54
145637      53
201645      51
174066      50
243744      49
166683      47, 2013:            pid
ipeds_aid
166027      80
170976      64
215062      56
190415      55
190150      50
201645      50
145637      47
163286      46
214777      45
228723      45, 2014:            pid
ipeds_aid
166027     110
215062      71
170976      71
214777      62
174066      62
243744      58
190150      53
193900      50
190415      50
201645      47}

## Correlation between school types/sizes and number of attendees

In [119]:
print(len(data))

35585

In [126]:
print('ipeds_aid', len(np.unique(data['ipeds_aid'])))

ipeds_aid 921